<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Photo Collection</title>
  </head>
  <body>
    <h1>Photo Collection</h1>
    <table border=1>
      <tr>
        <td>
          <form action="/signup" method="post">
            <input type="text" name="name" value="" placeholder="Name"><br>
            <input type="text" name="email" value="" placeholder="Email"><br>
            <input type="password" name="password" value="" placeholder="Password"><br>
            <input type="submit" value="Sign Up">
          </form> 
        </td>       
      </tr>
      <tr>
        <td>
          <form action="/photos" method="post">
            <input type="text" name="email" value="dio@gmail.com" placeholder="Email"><br>
            <input type="password" name="password" value="1234" placeholder="Password"><br>
            <input type="submit" value="Login">
          </form>  
        </td>      
      </tr>
      <% if (loginFailed) { %>
        <tr>
          <td colspan=6>
              <span style="color:red">Login failed, please try again</span>
          </td>
        </tr>
      <% } %>
      <% if (typeof createUser !== 'undefined' && !createUser) { %>
        <tr>
          <td colspan=6>
              <span style="color:red">Create Fail : <%= username %></span>
          </td>
        </tr>
      <% } %>
      <% if (typeof createUser !== 'undefined' && createUser) { %> 
        <tr>
          <td colspan=6>
              <span style="color:red">Create Success : <%= username %></span>
              <span style="color:red">Try login use email : <%= email %></span>
          </td>
        </tr>
      <% } %>

    </table>

  </body>
</html>
